<footer id="main-footer" class="text-center p-1 bg-primary text-white">
  <div class="row">
    <div class="col-md-12 my-3 text-center">
      <p class="my-0">
        <a
          class="btn btn-link text-white"
          href="https://github.com/adam-on-the-internet"
          target="_blank"
        >
          <fa-icon [icon]="faGithub" [size]="'3x'"></fa-icon>
        </a>
        <a
          class="btn btn-link text-white"
          href="https://www.linkedin.com/in/adam-callanan-49114b119"
          target="_blank"
        >
          <fa-icon [icon]="faLinkedin" [size]="'3x'"></fa-icon>
        </a>
        <a
          class="btn btn-link text-white"
          href="https://twitter.com/adam_on_the_net"
          target="_blank"
        >
          <fa-icon [icon]="faTwitter" [size]="'3x'"></fa-icon>
        </a>
        <a
          class="btn btn-link text-white"
          href="http://www.adamontheinternet.com/contact"
          target="_blank"
        >
          <fa-icon [icon]="faEnvelope" [size]="'3x'"></fa-icon>
        </a>
      </p>
      <p class="my-0 text-white">
        <a
          class="text-white"
          href="http://www.adamontheinternet.com"
          target="_blank"
        >
          © Adam on the Internet {{ year }}
        </a>
      </p>
    </div>
  </div>
</footer>
